.page-footer {
  text-align: center;
}

.page-footer__wrapper {
  padding-top: 40px;
}

.page-footer__index {
  display: none;
}
/*
.page-footer__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  padding: 0;
}
*/
.page-footer__title {
  margin: auto;
  font-size: 24px;
  font-weight: 400;
  padding-top: 10px;
}

.page-footer__title:first-child {
  padding-top: 70px;
}

.contacts__title {
  font-size: 18px;
  font-weight: bold;
}

.page-footer__list a {
  text-decoration: none;
  font-weight: 300;
  color: #d22856;
  font-size: 24px;
}

.contacts__adress {
  font-size: 24px;
  font-weight: 300;
  color: #d22856;
}

.contacts__map {
  width: 100%;
  min-height: 200px;
  background-image: url(../img/bg-map-mobile@1x.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.page-footer__logo {
  padding-top: 35px;
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-footer__copyright span {
  padding-right: 15px;
  padding-bottom: 10px;
}
