.photo__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
}

.photo__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
}

.photo__item-info {
  width: 320px;
  margin: 0 auto;
  background-color: #f2f2f2;
}

.photo__title {
  margin: auto;
  padding-top: 100px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  line-height: 30px;
}

.photo__caption {
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  text-align: center;
}

.photo__author-name {
  font-weight: bold;
  font-style: normal;
}
