.price {
  min-width: 320px;
  margin: 0 auto;
  min-height: 470px;
  background-color: #f2f2f2;
}

.price__list {
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-top: 90px;
  background-position: left 50%;
  text-align: center;
  border-collapse: collapse;
  background-color: #ffffff;
}

.price__item {
  width: 280px;
  height: 60px;
  padding: 0;
  font-size: 14px;
  line-height: 2;
  font-weight: normal;
  text-transform: uppercase;
  border: 2px solid #e5e5e5;
}

.price__item-top {
  height: 100px;
  font-size: 16px;
  font-weight: bold;
  line-height: 2;
  color: #ffffff;
  background-color: @dark-blue;
  text-transform: uppercase;
  border: 2px solid #f2f2f2;

    &:first-child {
      visibility: collapse;
  }

}

.price__item-hit {
  position: relative;
}

.price__hit {
  position: absolute;
  content: "";
  background-image: url(../img/bg-hit.svg);
  background-repeat: no-repeat;
  left: 6px;
  top: 6px;
  transform: rotate(-45deg);
}

@media (min-width: @tablet-width) {
  .price {
    min-width: 620px;
    height: 100%;
  }

  .price__list {
    width: 620px;
    height: 223px;
    margin-top: 100px;
  }

  .price__item {
    width: 155px;
    height: 47px;
  }

  .price__item-top {
    width: 155px;
    height: 80px;
  }
}

@media (min-width: @desctop-width) {
  .price {
    height: 525px;
    max-width: 1200px;
  }

  .price__list {
    width: 945px;
    height: 282px;
    margin-top: 150px;
  }

  .price__item {
    width: 237px;
    height: 60px;
  }

  .price__item-top {
    height: 100px;
  }

}
