.progress {
  width: 100%;
  margin-top: 45px;
  padding: 0;
  border: none;
  background-color: #f2f2f2;
  outline: 1px solid red;
}

.progress__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.progress__item {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 44px;
}

.progress__text {
  padding-left: 20px;
  padding-right: 20px;
  color: #d22856;
  text-transform: uppercase;
  text-align: center;
}

.progress-check {
  margin-left: 70px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
  color:  #283645;
  cursor: pointer;
}

.progress-check__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.progress-check__input:checked + .progress-check__box {
  background-image: url(../img/tick.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.progress-check__input:hover + .progress-check__box {
  border-color: #283645;
}

.progress-check__input:active + .progress-check__box {
  border-color: #d22856;
}

.progress-check__box {
  position: absolute;
  width: 35px;
  height: 35px;
  margin-left: -50px;
  border: 2px solid #e5e5e5;
  border-radius: 3px;
  background-color: #ffffff;
  cursor: pointer;
  outline: none;
}


@media (min-width: @tablet-width) {
  .progress {
    width: 100%;
    margin-top: 0;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    order: 4;
  }

}

@media (min-width: @desctop-width) {
  .progress {
    width: auto;
    max-height: 230px;
    margin-top: 70px;
  }

  .progress__list {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-left: 60px;
    padding: 0;
  }

  .progress__item label {
    margin-left: 20px;
  }

  .progress__item {
    width: 260px;
    padding: 25px;
  }

}
