.reviews__list {
  padding: 40px 0 25px;
}

.reviews__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
}

.reviews__author-name {
  font-size: 18px;
  line-height: 1.5;
  font-weight: bold;
  font-style: normal;
}

.reviews__age {
  display: none;
}

.reviews__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.slider-toggle {
  position: relative;
  text-align: center;
}

.slider-toggle__item--active {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 14px;
  padding: 0;
  border: 3px solid #283645;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

.slider-toggle__item {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 19px;
  padding: 0;
  background: #283645;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .reviews__author-name {
    order: 2;
  }

  .reviews__age {
    order: 3;
  }
}

@media (min-width: @desctop-width) {
  .reviews__list {
    padding: 0;
  }

  .reviews__text {
    margin: 0;
    padding: 70px;
    font-size: 18px;
    line-height: 1.6;
  }

  .reviews__toggle {
    display: none;
  }
}
